<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    
    <div>
        <div>
            <h1>New Dojo</h1>
            
            <form action="/new_dojo", method="POST">
                Name: <input name="name" type="text" ><br>
                <input type="submit" value="Add Dojo">
            </form>

        </div>
        <div>
            <h1>All Dojos</h1>
            {% for one_dojo in all_dojos %}
            
            <a href="/{{ one_dojo.id }}">{{ one_dojo.name }}</a>
            
            {% endfor %}
        </div>
    </div>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>