<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div class="sub">
        <span>Name: <br> {{name}}</span>
        <span>Location:<br> {{Location}}</span>
        <span>Language: <br> {{Language}}</span>
        <span>Comment: <br> {{Comment}}</span>
        <a href="/">Back</a>
    </div>
</body>
</html>