* {
    padding: 0;
    margin: auto;
    margin-top: 10px;
}

.head1 {
    padding: 10px;
    width: 300px;
    color: goldenrod;
    background-color: darkgray;
    border: 2px solid goldenrod;
}

.none {
    border-spacing: 0;
}

td, tr {
    height: 50px;
    width: 50px;
}


.color1 {
    background-color: goldenrod;
}

.color2 {
    background-color: darkgray;
}